* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
} /* esto le saca el margin  y pading automatico a todos los bordes de todos los contenedores */
 
h2 {
    color: red;
}

a {
    color: black;
    text-decoration: none; /* saco el subrayado de los link a las a */
}

li {
    list-style: none;
}

nav div {
    display: flex;
    justify-content: center;
}

nav div ul {
    
    display: flex;
    flex-direction: row; /* con esto direcciono horizontalmente las li */ 
    
}

nav div ul li{
    margin: 0px 20px;
}

nav div ul li a {
    text-align: left;
    justify-content: left;
}

.center {
    text-align: center;
    justify-content: center;

}